<div id="palindromeForm">
<form method="post" id="form_static" action="/result">
<label>Input</label>
    <input id="palindrome" type="text" name="palindrome" placeholder="Enter input here" required>
    <button id="submitButton" type="submit">Submit</button>
</form>
</div>

<div class="form-group hidden" id="error-container">
    <div class="alert alert-danger text-goes-here">
    </div>
</div>

<div class="form-group hidden" id="result-container">
    <div class="alert alert-success text-goes-here">
    </div>
</div>

<div class="listclass">
    <ul id="p_checker"></ul>
</div>

<footer>
	<div class="down">
		This is made by Vignesh Sriram!
	</div>
</footer>