<!DOCTYPE html>
<html>
<head>
	<title>The Best Palindrome Checker in the World!</title>
    <link rel = "stylesheet" href="/public/site.css">
</head>
<body>


<main class = "container">
    <H1>The Best Palindrome Checker in the World!</H1>
    <p> Palindrome is a string where the string 
    is the same even if you read it backwards.
    Example of a Palindrome is : WOW</p>

    <p> In this website we will check whether the given 
    string is palindrome or not!</p>
    <p> Just enter your string in the text box and hit 
    submit</p>
    <p>This only accepts alphabets and numbers. Everything
        else will be ignored!!
    </p>
    {{{body}}}
    <!--<script src="/public/js/form.js"></script> -->
     
    

</main>
</body>
</html>